@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 80px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 50px 4%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.link img {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  object-fit: cover;
  margin-right: 20px;
}


@media (max-width: 800px) {
  .container {
    flex-direction: column; /* Change to column layout */
    padding: 20px 3%;
    align-items: flex-start; /* Align content to the start */
  }

  .text h2 {
    font-size: 30px; /* Adjusted size for smaller screens */
    letter-spacing: 2px; /* Reduced letter-spacing */
  }

  .text p {
    font-size: 18px; /* Adjusted size for readability */
    letter-spacing: 1px; /* Reduced letter-spacing */
  }

  .link {
    gap: 5px; /* Reduced gap between icon and text */
  }

  .link img {
    width: 30px; /* Smaller icon size */
    height: 30px; /* Consistent icon dimension */
    margin-right: 5px; /* Reduced margin right */
  }

  .link a {
    font-size: 16px; /* Smaller font size */
    letter-spacing: 1px; /* Tighter letter spacing */
  }
}